.App {
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.App-logo {
  /* height: 40vmin; */
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 1s linear;
  }
}
.App-menu{
  margin-left: 10px;
}
.App-header {
  background-color: #E5E5E5;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-size: 22px;
  color: #707070;

}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
